mixin productBox(item)
    .product-box
        img.productImg(src=item.image, alt=item.title)
        .product-info
            .productTitle #{item.title}
            .productDescription #{item.description}
            .productPrice #{item.price}$