mixin productBox(item)
    .card
      a(href=`/product/detail/${item.slug}`)
        if item.featured == true
          .featured-product-badge.badge.text-bg-success Hot
        img.card-img-top(src=item.thumbnail, alt=item.slug)
        .card-body
          h6.card-title #{item.title}
          //- p.card-text
          //-   | !{item.description}
          