include ./alert
mixin productDetail(product)
    +alert-success(3000)
    form(action=`/cart/add/${product.id}` method='POST')
        .detail-product
            .img-product
                img(
                    src=product.thumbnail 
                    alt=product.title
                    id="imagePreview"
                    )
            .info-product
                .product-title #{product.title}
                .product-price $#{product.price}
                .product-description !{product.description}
                .product-quantity 
                    label(for='quantity') Quantity:
                    input#quantity.form-control(
                        type='number'
                        name='quantity'
                        min='1'
                        value=1
                        )
                .product-button 
                    button.buy-now-btn(class="btn btn-dark") 
                        i.bi.bi-bag
                        | Buy Now
                    button.cart-btn(class="btn btn-secondary")
                        i.bi.bi-cart-plus
                        | Add to cart 
    script(src="/client/script/detail.js") 