mixin productBox(item)
    .product-box
        a(href=`/product/${item.slug}`)
            img.productImg(src=item.thumbnail, alt=item.title)
        .product-info
            .productTitle 
                a(href=`/product/${item.slug}`) #{item.title}
            //- .productDescription #{item.description}
            .productPrice #{item.price}$