.sidebar 
    .sidebar-head 
        .sidebar-head-text Admin
    .sidebar-body 
        .sidebar-list-item
            a.sidebar-body-child(href=`${prefixAdmin}/dashboard` btn-page='dashboard')
                i.bi.bi-house-fill
                |Dashboard 
            a.sidebar-body-child(href=`${prefixAdmin}/product` btn-page='product')
                i.bi.bi-bag-fill
                |Product 
            a.sidebar-body-child(href=`${prefixAdmin}/product-category` btn-page='product-category')
                i.bi.bi-bag-fill
                |Product Category
            a.sidebar-body-child(href=`${prefixAdmin}/role` btn-page='role')
                i.bi.bi-people-fill 
                |Role
            a.sidebar-body-child(href=`${prefixAdmin}/account` btn-page='account')
                i.bi.bi-pie-chart-fill 
                |Account
            a.sidebar-body-child(href=`${prefixAdmin}/inbox` btn-page='inbox')
                i.bi.bi-inbox-fill 
                |Inbox 
            a.sidebar-body-child(href=`${prefixAdmin}/auth/logout` btn-page='logout')
                i.bi.bi-door-open-fill
                |Logout