.sidebar 
    .sidebar-head 
        .sidebar-head-text 
            .btn-group(data-bs-theme="dark") 
                a.btn.btn-secondary.btn-sm(href=`${prefixAdmin}/my-account`)
                    img(
                        src=user.avatar 
                        alt=user.fullName 
                        class="avatar"
                    )
                    | #{user.fullName}
                button.btn.btn-sm.btn-secondary.dropdown-toggle.dropdown-toggle-split(type='button', data-bs-toggle='dropdown', aria-expanded='false')
                    span.visually-hidden Toggle Dropdown
                ul.dropdown-menu
                    li
                        a.dropdown-item(href='#') Action
                    li
                        a.dropdown-item(href='#') Another action
                    li 
                        hr.dropdown-divider
                    li
                        a.dropdown-item(href=`${prefixAdmin}/auth/logout`)
                            i.bi.bi-door-open-fill 
                            |Log out
    .sidebar-body 
        .sidebar-list-item
            a.sidebar-body-child(href=`${prefixAdmin}/dashboard` btn-page='dashboard')
                i.bi.bi-house-fill
                |Dashboard 
            a.sidebar-body-child(href=`${prefixAdmin}/product` btn-page='product')
                i.bi.bi-bag-fill
                |Product 
            a.sidebar-body-child(href=`${prefixAdmin}/product-category` btn-page='product-category')
                i.bi.bi-bag-fill
                |Product Category
            a.sidebar-body-child(href=`${prefixAdmin}/role` btn-page='role')
                i.bi.bi-people-fill 
                |Role
            a.sidebar-body-child(href=`${prefixAdmin}/account` btn-page='account')
                i.bi.bi-pie-chart-fill 
                |Account
            a.sidebar-body-child(href=`${prefixAdmin}/inbox` btn-page='inbox')
                i.bi.bi-inbox-fill 
                |Inbox 