.sidebar 
    .sidebar-head 
        .sidebar-head-text Admin
    .sidebar-body 
        .sidebar-list-item
            a.sidebar-body-child(href=`${prefixAdmin}/dashboard` btn-page='dashboard')
                i.bi.bi-house-fill
                |Dashboard 
            a.sidebar-body-child(href=`${prefixAdmin}/product` btn-page='product')
                i.bi.bi-bag-fill
                |Product 
            a.sidebar-body-child(href=`${prefixAdmin}/product-category` btn-page='product-category')
                i.bi.bi-bag-fill
                |Product Category
            a.sidebar-body-child(href=`${prefixAdmin}/statistic` btn-page='statistic')
                i.bi.bi-pie-chart-fill 
                |Statistic 
            a.sidebar-body-child(href=`${prefixAdmin}/inbox` btn-page='inbox')
                i.bi.bi-inbox-fill 
                |Inbox 
            a.sidebar-body-child(href=`${prefixAdmin}/notification` btn-page='notification')
                i.bi.bi-bell-fill
                |Notifications  