extends ../../layouts/default
include ../../mixins/alert

block main
    .main-content
        if cart.products.length <= 0
            .empty-cart
                h2.my-3 Empty Cart
                a.btn.btn-success(href="/")
                    i(class="bi bi-cart4")
                    |Shop Now
        else  
            +alert-success(3000)
            div
                h5.my-2 Shopping Cart
                table.table.table-bordered
                    thead
                        tr
                        th(scope='col') #
                        th(scope='col') Thumbnail
                        th(scope='col') Product
                        th(scope='col') Price
                        th(scope='col') Quantity
                        th(scope='col') Total
                    tbody
                        each item, index in cart.products
                            tr
                            th(scope='row' name='item.productInfo.id') #{index + 1}
                            td
                                img.thumbnail(src=item.productInfo.thumbnail, alt=item.productInfo.title)
                            td #{item.productInfo.title}
                            td #{item.productInfo.price}$
                            td #{item.quantity}
                            td #{item.price}$
                form(action="/checkout/order", method="post").border.border-success.rounded
                    .m-3
                        .mb-3
                            label.form-label(for='fullNameInput') Full Name
                            input#fullNameInput.form-control(type='text' name='fullName' required)
                        .mb-3
                            label.form-label(for='phoneNumberInput') Phone Number
                            input#phoneNumberInput.form-control(type='text' name='phoneNumber' required)
                        .mb-3
                            label.form-label(for='addressInput') Address
                            input#addressInput.form-control(type='text' name='address' required)
                        button.btn.btn-success(type='submit') Submit    