extend ../../layouts/default
include ../../mixins/alert

block main
    if ! role.permissions.includes('role-permission-edit')
        include ../../partials/strict
    else 
        +alert-error(3000)
        .app-content
            .app-content-header
                .h3 Edit Role
            .app-content-action
            .app-content-table
                form(action=`${prefixAdmin}/role/edit/${record.id}?_method=PATCH` method="POST") 
                    .mb-3
                        label.form-label Title
                        input.form-control(
                            type='text' 
                            placeholder='Ex: Administrator'
                            name='title'
                            value=record.title
                            )
                    .mb-3
                        label.form-label Description
                        textarea.form-control(
                            rows='3' 
                            name='description' 
                            ) !{record.description}
                    button(type="submit" class="btn btn-primary") Change
        script(src="/tinymce/tinymce.min.js") 
        script(src="/admin/script/tinymce-config.js")
        script(src="/admin/script/role/edit-role.js") 