extend ../../layouts/default
include ../../mixins/alert
include ../../mixins/mapping-category-name

block main 
    if ! role.permissions.includes('product-view')
        include ../../partials/strict
    else 
        .app-content
            .app-content-header
                .h4 Product: #{product.title}
            .app-content-action
            .app-content-table
                .detail-content
                    .my-3(upload-image)
                        img(src=product.thumbnail, alt=product.title, id="imagePreview")
                    .my-3
                        div 
                        | Category: 
                        +map(product.categoryId, Categories)
                    .my-3
                        div 
                        | Description: !{product.description}
                    .mb-3
                        div Price: #{product.price}$
                    .mb-3
                        div Position: #{product.position}
                    .mb-3 
                        label.form-label Featured: 
                        - if (product.featured === true)
                            .badge.text-bg-success.mx-2 Yes
                        - else 
                            .badge.text-bg-secondary.mx-2 No
                    .mb-3 
                        label.form-label Status: 
                        - if (product.status === 'active')
                            .badge.text-bg-success.mx-2  Active 
                        - if (product.status === 'inactive')
                            .badge.text-bg-danger.mx-2  Inactive 
                    a.btn.btn-secondary.edit-btn(href=`${prefixAdmin}/product/edit/${product._id}`) Edit Product  
